header {
  background: #49A3D6;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px; }
  
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
   }

header .menu .logo {
  display: inline-block;
  width: 10rem;
}

header .menu .logo img {
  width: 100%;
}

header .menu .tags {
  display: inline-block;
}

header .menu .tags a {
  margin: 0 1rem;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 9px;
  font-size: 1em;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid transparent; }

header .menu .tags a i {
  font-size: 1.5rem;
}

header .menu .tags a:hover {
  border-bottom: 2px solid #fff; }

header .menu .boton {
  margin: 0 1rem;
  background: #49A3D6;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 9px;
  font-size: 1em;
  display: inline-block;
  text-decoration: none;
  border: none; }

header .menu .boton:hover {
  border-bottom: 2px solid #fff;
}

header .contenedor-texto {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 140px;
  margin-bottom: 190px; }

header .contenedor-texto .texto {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  padding: 20px 60px; }

header .contenedor-texto .texto h1, header .contenedor-texto .texto h2 {
  color: #fff;
  font-weight: 300;
  margin: 0; }

header .contenedor-texto .texto .nombre {
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 50px; }

header .contenedor-texto .texto .profesion {
  font-size: 25px;
  line-height: 25px; }

.main .contenedor {
  overflow: visible; }
  
.main .acerca-de {
  text-align: center; }
  
.main .acerca-de .foto {
  margin-top: -90px; }
  
.main .acerca-de .foto img {
  border-radius: 50%;
  vertical-align: top;
  border: 5px solid rgba(255, 255, 255, 0.2); }
  
.main .acerca-de .texto {
  color: #5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 60px auto 60px auto; }
  
.main .acerca-de .texto .titulo {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 34px;
  font-weight: 300;
  color: #dd820d;
  text-align: center; }
  
.main .acerca-de .texto .bold {
  color: #3895ea;
  text-decoration: underline; }

#boton-editar {
  margin-bottom: 30px;
  font-size: 0.50rem;
  padding: 0.50rem;
}

i {
  font-size: 0.90rem;
}

/* ----- ----- MEDIA QUERIES ----- ----- */


@media screen and (max-width: 500px) {

  header .menu {
    display: block;
  }
  
  header .menu .logo,
  header .menu .tags {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


  header .contenedor-texto .texto .nombre {
    font-size: 35px; }
  header .contenedor-texto .texto .profesion {
    font-size: 18px; }
}
